# --- Java / Maven ---
target/
**/target/
*.class
*.jar
*.war
*.ear
.mvn/wrapper/maven-wrapper.jar

# --- Docker & Dados
docker_data/
.env

# --- IntelliJ IDEA ---
.idea/
*.iws
*.iml
*.ipr
out/

# --- VS Code ---
.vscode/

# --- STS / Eclipse ---
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# --- Logs e Temporários ---
*.log
tmp/